#command {
    position: fixed !important;
    position: absolute;left:760px;
    width:300px; height:800px; margin:20px; background-color:#FF9966; border:1px solid #cc3333;
}

#start {
    overflow: auto;
    width:142px; height:147px; margin:0px; background-color:#333333; border:1px solid #111111;
    -khtml-user-drag: element;
}

#source {
    width:142px; height:147px; margin:0px; background-color:#333333; border:1px solid #111111;
    -khtml-user-drag: element;
}
#tabletag{
    background-color:#333333;
    margin:0px;
}